@charset "utf-8";

/*---------------------------------------------
Responsive
---------------------------------------------*/
.spOnly{ display: none!important;}
.pcOnly{ display: block!important;}
/*---------------------------------------------
font
---------------------------------------------*/
.txtB { font-weight: bold!important; }
.txtN { font-weight: normal!important; }
/*---------------------------------------------
text-align
---------------------------------------------*/
.layoutC { text-align: center!important; }
.layoutL { text-align: left!important; }
.layoutR { text-align: right!important; }

/*--------------------------------------------
fontColor
----------------------------------------------*/
.fontColor{color:#000;color:#fff;color:#333;}
/*--------------------------------------------
bgColor
----------------------------------------------*/
.bgColorblack{background-color:#000;}
.bgColorwhite{background-color:#fff;}
/*---------------------------------------------
 base margin
---------------------------------------------*/
.mt0 { margin-top: 0px !important; }
.mt10 { margin-top: 10px !important; }
.mt15 { margin-top: 15px !important; }
.mt20 { margin-top: 20px !important; }
.mt30 { margin-top: 30px !important; }
.mt40 { margin-top: 40px !important; }
.ml0 { margin-left: 0 !important; }
.ml5 { margin-left: 5px !important; }
.ml10 { margin-left: 10px !important; }
.ml15 { margin-left: 15px !important; }
.ml20 { margin-left: 20px !important; }
.ml30 { margin-left: 30px !important; }
.ml40 { margin-left: 40px !important; }
.mb0 { margin-bottom: 0px !important; }
.mb5 { margin-bottom: 5px !important; }
.mb10 { margin-bottom: 10px !important; }
.mb15 { margin-bottom: 15px !important; }
.mb20 { margin-bottom: 20px !important; }
.mb30 { margin-bottom: 30px !important; }
.mb40 { margin-bottom: 40px !important; }
.mb50 { margin-bottom: 50px !important; }
.mb60 { margin-bottom: 60px !important; }
.mb70 { margin-bottom: 70px !important; }
.mr5 { margin-right: 5px !important; }
.mr10 { margin-right: 10px !important; }
.mr20 { margin-right: 20px !important; }
.mr30 { margin-right: 30px !important; }
.mr35 { margin-right: 35px !important; }
.mr40 { margin-right: 40px !important; }



/*---------------------------------------------
 generic  class
---------------------------------------------*/

.contentWrap{}
.content(コンテンツに付随した名前){}
.textArea{}
.text{}
.imgArea{}
.img{}
.bgColor{}
.titleArea{}
.h2title{}
.h3title{}
.h4title{}
.side{}
.sideNavi{}
.topicPath{}
.globalNavi{}
.header{}
.footer{}
.inner{}
.cur{}
.tableArea{}



/*---------------------------------------------
 body
---------------------------------------------*/
body{font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;-webkit-text-size-adjust: 100%;

/**/
color:#333;
font-size: 14px;
}
/*---------------------------------------------
 #wrap
---------------------------------------------*/
#wrap{position: relative;height: auto !important;height: 100%;min-height: 100%;font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;-webkit-text-size-adjust: 100%;

}


#wrap:before {
    content: "";
    position: absolute;
    top: 34px;
    left: 50%;
    z-index: -1;
    opacity: 0.5;
    background: url(../images/) center top no-repeat;
    height: 3449px;
    width: 1200px;
    margin-left: -600px;
    margin-left: -615px;
    opacity:0.4;
}



/*---------------------------------------------
.header
---------------------------------------------*/
.header{
	width:100%;
}

.header .inner{
	width:960px;
	margin:0 auto;
}

.header .inner .h1title{
	font-size: 24px;
	padding: 10px
}
/*---------------------------------------------
.contents
---------------------------------------------*/
.contentsWrap {
	width:100%;
}

.contentsWrap .main{
	width:960px;
	margin:0 auto;
}

.contentsWrap .main .h2title{
	font-size: 18px;
	padding: .5em .75em;
	background-color: #f6f6f6;
	border-left: 6px solid #ccc;
	margin-bottom: 10px;
}

.contentsWrap .main .content{
	margin-bottom: 10px;
}

.contentsWrap .main .content ul{
	width:900px;
	margin:0 auto;
}


.contentsWrap .main .html,
.contentsWrap .main .css,
{
	margin: 10px 0
}



.contentsWrap .main .html .content ul{
	list-style-type: disc;
}

.contentsWrap .main .html .content li{
	font-size: 14px;
	list-style-type: disc;
}

.contentsWrap .main .css .content ul{
	list-style-type: disc;
}

.contentsWrap .main .css .content li{
	font-size: 14px;
	list-style-type: disc;
}

.contentsWrap .main .design .content ul{
	list-style-type: disc;
}

.contentsWrap .main .design .content li{
	font-size: 14px;
	list-style-type: disc;
}

.contentsWrap .main .environ .content ul{
	list-style-type: disc;
}

.contentsWrap .main .environ .content li{
	font-size: 14px;
	list-style-type: disc;
}


/*---------------------------------------------
.footer
---------------------------------------------*/
.footer { }



/*---------------------------------------------
 @media screen
---------------------------------------------*/
@media screen and (max-width:640px) {

/*---------------------------------------------
Responsive
---------------------------------------------*/
.spOnly{ display: block!important;}
.pcOnly{ display: none!important;}

}

